@font-face {  
    font-family: 'FZJiYDSPTJW';  
    src: url('FZJiYDSPTJW.ttf'); 
    font-weight: normal;  
    font-style: normal;  
}
@font-face {  
    font-family: 'FZZJ-GJPKSJW';  
    src: url('FZZJ-GJPKSJW.ttf'); 
    font-weight: normal;  
    font-style: normal;  
}